@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Montserrat:ital,wght@1,100&display=swap');



#main-header {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  padding: 20px;

}

a {
  font-family: 'Montserrat', sans-serif;
}

.centered {
  text-align: center;
}

